<div>
    <h5>{{post.title}}</h5>
    <h5>{{post.user.username}}</h5>
    <h5>{{format_date post.createdAt}}</h5>
    <p>{{post.body}}</p>
</div>

<div>
    <h5>Comments</h5>
    <div>
    </div>
</div>